nav{
    width: 90%;
    margin:  40px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    ul{
        display: flex;
        list-style: none;
        gap: 24px;
        cursor: pointer;
        li{
            a {
                text-decoration: none;
                font-weight: 600;
                size: 16px;
            }


        }
            
        }
        button{
            background: none;
            border: none;
            svg{
                width: 24.000000363057943px;
                height: 24.91519942039625px;


            }
        }


    }
    .bars{
        display: none;
        transition: all 0.3s ease;
    }


@media screen and (max-width : 992px){
    nav{
        margin: 0 20px;
        ul{

            li{
                a{
                    display: none;
                }
            }
        }
        ul.show-menu{
            position: absolute;
            top: 80px;
            right: 0;
            z-index: 100;
            transition: right 0.3ms ease;
            max-height: 500px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: inherit;
            overflow: hidden;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
            li{
                a{
            display: block;
            width: 100%;

                }

            }

        }

    }


    .bars{
        display: block;
    }
}



    


        
        
    
        
    
        
    
        
    
        
    
    
