.container{
    height: 100vh;
    margin: 0 70px;
    display: flex;
    gap: 43px;;
    padding-top: 100px;
    align-items: center;
    img{
       width: 60%;
       border-radius: 8px;
       
    }
    .description{
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        .repo{
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 28px;
            }
        }
        span{
            color: #A6A6A6;
            font-weight: 500;
        }
        button{
            width: 100px;
            height: 28px;
            border-radius: 8px;
            border: none;
            background-color: #0C96E2;
            color: #ffffff;
        }
    }
}
@media screen and (max-width : 992px){
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
    }
}