.footer{
    border-top: 1px solid #BEC0BF;
    margin: 0 70px;
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

    .icons{
        display: flex;
        gap: 16px;
    }
}
@media screen and (max-width : 992px){
    .footer{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
        margin-top: 30px;
        

        .icons{
            margin: 0 auto;
        }
    }
}

  
